@model IEnumerable<Blog.Models.Post>
@if (Model != null)
{
    <div class="cards">
        @foreach (var post in Model.OrderBy(o => o.Created))
        {
            <div class="cards-content">
                <b>@post.Created</b>
                <p>@post.Body</p>
            </div>
        }
    </div>
}
