@model IEnumerable<Blog.Models.Post>
@if (Model != null)
{
    <div class="cards">
        @foreach (var post in Model.OrderByDescending(o => o.Created))
        {
            post.Body = post.Body.Replace("<pre", "<pre class='prettyprint linenums'");
            <div class="cards-content">
                <b>@post.Created</b>
                <p>@Html.Raw(post.Body)</p>
            </div>
        }
    </div>
}
